/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#wapper{

}
#header{
    height: 46px;
    background-color: #000;
}
#nav,.subnav{
    list-style: none;
}
#nav > li{display: inline-block;}

#nav li{
    
    position: relative;
}
#nav .subnav{
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0,0,0.3);
    display: none;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav a{
    color: #000;
    line-height: 38px;
}
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav >li> a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;
}
#nav > li:hover >a{
    color: #000;
    background-color: #ccc;
}
#sileder{
    background-color: #ccc;
    min-height: 500px;
}
#container{

}
#footer{

}